<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      
      <ul class="nav nav-tabs">
        <li class="nav-logo"><a href="#">NAVBAR LOGO</a></li>
        <li class="nav-link"><a (click)="this.firstVideoIsOn = true" (click)="changeSrc()">EMPOWERING</a></li>
        <li class="nav-link"><a (click)="this.secondVideoIsOn = true" (click)="this.changeSrc()">DISRUPTING</a></li>
        <li class="nav-link"><a (click)="this.thirdVideoIsOn = true" (click)="this.changeSrc()">CONNECTING</a></li>
      </ul>
    </div>
  </nav>
  

  <section style="background-color: #dbf0ef;">
    <video id="my-player"
    class="video-js vjs-default-skin vjs-big-play-centered"
    controls 
    preload="auto"
    poster="//vjs.zencdn.net/v/oceans.png"
    data-setup='{"fluid": true}'>
    <source src="https://d2zihajmogu5jn.cloudfront.net/bipbop-advanced/bipbop_16x9_variant.m3u8" 
    type="application/x-mpegURL">
    </video>
  </section>

</div>
