<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Hello World!</h1>
  <nav class="navbar">
    <div class="nav-logo nav-item">NAVBAR LOGO</div>
    <ul class="nav-links nav-item">
      <li class="nav-link" (click)="changeSrc0()">EMPOWERING</li>
      <li class="nav-link" (click)="changeSrc1()">DISRUPTING</li>
      <li class="nav-link" (click)="changeSrc2()">CONNECTING</li>
    </ul>
  </nav>
  <section style="background-color: #dbf0ef; height: 80vh">
    <video id="my-player"
    class="video-js"
    controls 
    preload="auto"
    poster="//vjs.zencdn.net/v/oceans.png"
    data-setup='{}'>
    <source src="" 
    type="application/x-mpegURL">
    </video>
  </section>
</div>
